.interrogative{
  width: 28px;
  height: 28px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .fa-circle-question{
    font-size: 24px;
    color: #BFBFD9;
    cursor: pointer;
  }
  &-tooltip{
    position: absolute;
    top: calc(100% + 27px);
    left: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 4px 5px 20px 0 rgba(74, 105, 165, 0.16);
    width: 300px;
    padding: 40px 20px;
    transform: translateX(-88%);
    i{
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
      &:hover{

      }
    }
    &-title{
      color: #666676;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    &-text{
      color: #666676;
      font-size: 14px;
      margin-bottom: 0;
    }
  }
}