

.info-waldberis{
  .info-head{
    font-weight: 600;
    text-transform: uppercase;
  }

  .info-title{
    margin: 0;
    a{
      color: #4B4AEF;
      text-decoration: underline !important;
    }
  }
}