

.StepUi{
  max-width: 360px;
  width: 100%;
  margin-bottom: 60px;
  .inner{
    display: flex;
    justify-content: center;
    align-items: center;
    .box{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid #61CDA6;
      &.active{
        background: #61CDA6;
      }
    }
    .border{
      background: #E5E5F8;
      height: 2px;
      max-width: 150px;
      width: 100%;
    }
  }

}

.head-st-1{
  margin-bottom: 30px;
}


.wrapper{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #BFBFD9;
  background: #FFF;
  padding: 40px;

.wrapperTitle{
  color: #666676;
  font-size: 18px;
}

  .inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .input-box{
      width: calc(50% - 23px);
      margin-bottom: 30px;
    }
    .input-box2{
      margin-right: 45px;
    }
    .input-box_Last{
      margin-bottom: 0;
    }

  }


}


.DropDown-step{
    width: 100%;
  .DropDownBtn-step{
    width: 100%;
    height: 3.125rem;
    border-radius: 5px;
    background: #E5E5F8;
    padding: 0.9375rem 0 0.9375rem 1.2rem;
    color: #A8A8BE;
    font-size: 16px;
    border: 0;
    &:after{
      display: none;
    }
    &.show{
      i{
        display: inline-block;
        transform: rotate(-180deg);
      }
    }
    i{
      margin-left: 10px;
    }
    img{
      margin-right: 10px;
    }
  }

  .DropDownItem-step{
    margin-top: 5px;
    width: 160px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 4px 5px 20px 0 rgba(74, 105, 165, 0.16);
    padding: 30px 0 50px 0;
   margin-left: 120px;
    .DropDownItems-step{
      transition: .2s linear;
      color: #666676;
      font-size: 1rem;
      font-weight: 400;
      padding: 10px 0 10px 0;
      margin-bottom: 5px;
      &:hover{
        background: #E5E5F8;
      }
      &.active{
        background: #E5E5F8;
      }
      .links{
        padding: 5px 0 5px 20px;
        img {
        margin-right: 10px;
      }
        span{
          color: #666676;
          font-size: 16px;
          font-weight: 400;
        }
      }

    }

  }



}