

.StepUi{
  max-width: 360px;
  width: 100%;
  margin-bottom: 60px;
  .inner{
    display: flex;
    justify-content: center;
    align-items: center;
    .box{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid #61CDA6;
      &.active{
        background: #61CDA6;
      }
    }
    .border{
      background: #E5E5F8;
      height: 2px;
      max-width: 150px;
      width: 100%;
    }
  }

}

.head-st-1{
  margin-bottom: 30px;
}